<div class="container" style="margin-top: 150px; margin-bottom: 60px;">
    <form class="row g-2" action="/admin/servicios/modificar" method="POST" enctype="multipart/form-data">
        <h4>Modificar el Servicio</h4>
        {{#if error}}
        <p class="texto-error">{{message}}</p>
        {{/if}}
        <input type="hidden" value="{{servicio.id}}" name="id"> {{!-- "hidden": id del servicio oculto --}}
        <div class="col-12">
            <input type="text" class="form-control" value="{{servicio.titulo}}" id="titulo" placeholder="Título" name="titulo">
        </div>
        <div class="col-12">
            <input type="text" class="form-control" value="{{servicio.subtitulo}}" id="subtitulo" placeholder="Subtítulo" name="subtitulo">
        </div>
        <div class="col-12">
            <textarea class="form-control" id="cuerpo" rows="4" placeholder="Detalle del servicio" name="cuerpo">{{servicio.cuerpo}}</textarea>
        </div>
        <div class="col-12">
            <p>
                <label>Imagen: <input type="file" id="imagen" name="imagen"></label>
            </p>
            <p>
                <label><input type="checkbox" value="1" id="img_delete" name="img_delete"> Eliminar imagen actual</label>
                <input type="hidden" value="{{servicio.img_id}}" id="img_original" name="img_original">
            </p>
        </div>
        <div class="gap-2">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>